@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

:root {
  --first-color: hsl(195, 100%, 30%);
  --gradient-color: linear-gradient(90deg,
                    hsl(210, 55%, 20%),
                    hsl(192, 62%, 25%));
  --title-color: hsl(210, 52%, 20%);
  --text-color: hsl(210, 24%, 15%);
  --white-color: #fff;
  --body-color: hsl(210, 55%, 85%);

  --body-font: "Poppins", sans-serif;
  --second-font: "Lora", serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem;
  z-index: 3;
  width: 100%;
  height: 5rem;
  background-color: var(--body-color);
}

.nav__logo {
  width: 36px;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    width: 100%;
    position: absolute;
    top: -1000%;
    left: 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    padding-top: 2.5rem;
    box-shadow: 0 5px 10px hsla(210, 55%, 24%, .1);
    transition: top .4s;
    z-index: 3;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  transition: color .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0 1.5rem 0;
}

.nav__buttons a {
  color: var(--text-color);
}

.nav__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav__close-btn, 
.nav__toggle {
  cursor: pointer;
  font-size: 1.25rem;
}

.nav__signup-btn {
  background-color: hsl(210, 29%, 88%);
  padding: 1rem 2rem;
  border: 2px var(--title-color) solid;
  border-radius: .75rem;
}

.show-menu {
  top: 0;
}

.home {
  height: 100vh;
}

.home__content {
  padding: 8rem 3rem 0 1rem;
  position: relative;
}

.home__subtitle {
  color: var(--first-color);
  font-size: .9rem;
  letter-spacing: .2rem;
}

.home__title {
  color: var(--title-color);
  font-family: var(--second-font);
  font-size: 2.5rem;
}

.home__description {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: .4rem;
}

.home__button {
  display: inline-block;
  color: var(--white-color);
  background: var(--gradient-color);
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: .75rem;
  box-shadow: 0 15px 25px hsla(210, 54%, 24%, 0.266);
}

.home__bird-top {
  position: absolute;
  rotate: -15deg;
  top: 12rem;
  left: 19rem;
}

.home__bird-bottom {
  position: absolute;
  rotate: -30deg;
  top: 27rem;
  left: 2rem;
}

.home__images img {
  position: fixed;
  bottom: 0;
  left: -7rem;
  /* width: 600px; */
  width: initial;
}

@media screen and (max-width: 375px) {
  .nav {
    height: 4rem;
  }
  
  .home__content {
    padding-right: 5rem;
    padding-top: 4rem;
  }

  .home__images {
    width: 100%;
  }

  .home__bird-top {
    top: 9.5rem;
    left: 16rem;
  }

  .home__bird-bottom {
    top: 28rem;
  }
}

@media screen and (min-width: 480px) {
  
  .nav__logo {
    width: 48px;
  }

  .nav__close-btn,
  .nav__toggle {
    font-size: 1.75rem;
  }

  .home__subtitle {
    font-size: 1.1rem;
  }

  .home__title {
    font-size: 3rem;
  }

  .home__description {
    font-size: 1.2rem;
  }

  .home__images img {
    bottom: -2rem;
  }

  .home__bird-bottom {
    top: 28rem;
  }

  .home__bird-top {
    left: 25rem;
  }
}

@media screen and (max-width: 1023px) and (min-height: 1000px) {
  .home__subtitle {
    font-size: 1.2rem;
  }

  .home__title {
    font-size: 4rem;
  }

  .home__content {
    padding-left: 3rem;
    padding-top: 10rem;
  }

  .home__bird-bottom {
    width: 80px;
    top: 34rem;
    left: 3rem;
  }

  .home__bird-top {
    width: 80px;
    left: 35rem;
    top: 18rem;
  }

  .home__images img {
    bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  
  .nav__logo {
    width: 64px;
  }

  .nav__toggle, .nav__close-btn {
    display: none;
  }

  .nav__menu {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.2rem;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5rem;
  }

  .nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .home__content {
    padding-left: 3rem;
    padding-top: 7rem;
  }

  .home__subtitle {
    font-size: 1.3rem;
  }

  .home__title {
    font-size: 4rem;
  }

  .home__description {
    font-size: 1.3rem;
  }

  .home__bird-bottom {
    width: 90px;
    top: 30rem;
  }

  .home__bird-top {
    width: 90px;
    left: 35rem;
  }

  .home__images img {
    bottom: -3rem;
  }
}
