@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins:wght@400;500;700&display=swap");

:root {
  --first-color: hsl(195, 100%, 30%);
  --gradient-color: linear-gradient(90deg,
                    hsl(210, 55%, 20%),
                    hsl(192, 62%, 25%));
  --title-color: hsl(210, 52%, 20%);
  --text-color: hsl(210, 24%, 15%);
  --white-color: #fff;
  --body-color: hsl(210, 55%, 85%);

  --body-font: "Poppins", sans-serif;
  --second-font: "Lora", serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.nav {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding: .75rem 1rem;
}

.nav__logo {
  width: 36px;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    padding-top: 2.5rem;
    box-shadow: 0 5px 10px hsla(210, 55%, 24%, .1);
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color);
  transition: color .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem 0 1.5rem 0;
}

.nav__buttons a {
  color: var(--text-color);
}

.nav__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav__close-btn, 
.nav__toggle {
  cursor: pointer;
  font-size: 1.25rem;
}

.nav__signup-btn {
  background-color: hsl(210, 29%, 88%);
  padding: 1rem 2rem;
  border: 2px var(--title-color) solid;
  border-radius: .75rem;
}

.show-menu {
  top: 0;
}



